.app {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 400px;
  flex-direction: column;
}

@font-face {
  font-family:'fredoka';
  src: url('FredokaOne-Regular.ttf') format('truetype');
}

/*Intended to be used for all columns of content*/
.element-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  margin: 40px;
  flex-wrap: wrap;
}

/*Intended to be used for all rows of content*/
.element-row {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-direction: row;
  font-size: 40px;
  flex-wrap: wrap;
}

/*Defines the card border used across the website*/
.card {
  background: #f9fafc;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px #d0d5df;
  transition: all 0.15s ease-in-out;
  max-width: 98%;
}

.card:hover {
  box-shadow: 0 10px 50px #d0d5df;
}

body {
  margin: 20px;
  background: #eceff4;
  font-family: fredoka;
}

header {
  color: #3b4252;
  font-size: 50px;
}

/*Currently used for the search fields*/
input {
  margin: 20px;
  width: 400px;
  max-width: 75%;
  height: 40px;
  text-align: center;
  border: 2px solid #999;
  box-shadow: 0 10px 20px #d0d5df;
  border-radius: 10px;
  font-family: fredoka;
  transition: all 0.15s ease-in-out;
  font-size: 16px;
}

input:hover {
  box-shadow: 0 10px 50px #d0d5df;
}

input:focus {
  box-shadow: 0 10px 50px #d0d5df;
}

/*General attributes for all buttons*/
button {
  cursor: pointer;
  background-color: #88c0d0;
  margin: 20px;
  border: 0px;
  box-shadow: 0 5px 15px #88c0d0;
  transition: all 0.15s ease-in-out;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-family: fredoka;
  font-size: 16px;
}

button:hover {
  background-color: #6ab7cc;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 50px #6ab7cc;
}

/*These are the two buttons on the main page*/
.basic-button {
  width: 200px;
  height: 70px;
  border-radius: 10px;
}

/*Used for the small, circular search buttons*/
.search-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*The buttons on the country result page*/
.country-button {
  width: 250px;
  height: 50px;
  margin: 5px;
  transition: all 0.15s ease-in-out;
}